<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Seller</title>
</head>
<style>
    form{
        text-align: center;
    }
</style>
<body>
<div th:include="/fragments/header"></div>
<div style="text-align: center">
  <form th:action="@{/seller/add}" th:method="post">
    Անուն:         <input type="text" name="name" placeholder="name"><br>
    Ազգանուն       <input type="text" name="surname" placeholder="surname"><br>
    Հեռախոսահամար  <input type="number" name="phoneNumber" placeholder="phoneNumber"><br>
    Էլ: Հասցե      <input type="email" name="email" placeholder="email"><br>
    <input type="submit" value="Ավելացնել">
  </form>
</div>
</body>
</html>